.mediaPieceWrapper {
    padding: 1rem 0rem;
}
.mediaPieceName {
    padding-bottom: 0.5rem;
}

.mediaPieceDescription {
    padding-bottom: 0.5rem;
}

.mediaPieceDescription2 {
    padding-bottom: 0.5rem;

    font-size: smaller;
}

@media screen and (min-width: 768px) {
    .mediaPieceWrapper {
        padding: 1rem 0rem;
    }
    .mediaPieceName {
        padding-bottom: 0.5rem;
    }
 
    .mediaPieceDescription {
        padding-bottom: 0.5rem;
    }

    .mediaPieceDescription2 {
        padding-bottom: 0.5rem;

        font-size: smaller;
    }
  }
  