.main {
}

.theBandImage {
  display: none;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 4rem;
  }
  .title {
    padding-bottom: 1rem;
  }
  .theBandImage {
    display: block;
    margin: 0 auto;
    padding: 1rem 0;
  }
}
